h1 {
  font-style: normal;
  text-shadow: 2px 2px white;
  font-size: 80xp;
  }
h3 {
font-style: italic;
text-shadow: 2px 2px white;
}
body {
    background-color: #cedde2;
  }

.jumbotron{
  color: black;
}

.margin{
  margin-left: 20px;
}

.img-rounded{
  width: 200px;
}
