h1 {
  width: 300px;
  border: 30px solid white;
  padding: 30px;
  margin: 30px;
  color: black;
  font-style: italic;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-shadow: 2px 2px white;

}

body {
    background-color: #e99a51;
  }

.jumbotron{
  color: black;

}
