h1 {
  font-style: normal;
  text-shadow: 2px 2px white;
  font-size: 80xp;
  }
h3 {
  font-style: italic;
  text-shadow: 2px 2px white;
  }

.btn-group button {
  background-color:white;
  border: 1px solid lightblue;
  color: black;
  padding: 10px 35px;
  cursor: pointer;
  width: 100%;
  display: block;
  }
.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
 }

/* Add a background color on hover */
.btn-group button:hover {
  background-color: blue;
 }
 body {
       background-color: #cedde2;
     }
