h1 {
  font-size: 70px
  text-decoration: underline;
  text-align: center;
  width: 300px;
  border: 30px solid white;
  padding: 30px;
  margin: 30px;
  color: black;
}
body {
  background-color:  #e99a51;
}
